* {
    font-family: 'Consolas';
    color: white;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    width: 100vw;
    height: 100dvh;
    height: 100vh;
    overflow: hidden;
}

.terminal {
    background-color: black;
    width: 1020px;
    height: 575px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
    flex-direction: row;
    background-color: #484848;
    height: 37px;
    border-radius: 7px 7px 0 0;
}

.tab {
    background-color: black;
    width: 200px;
    height: 30px;
    border-radius: 7px 7px 0 0;
    margin-left: 10px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 10px;
    justify-content: space-between;
}

.tab svg {
    outline: white;
    height: 15px;
    width: 15px;
}

.tab p {
    font-size: 0.8rem;
    text-align: left;
    width: 100%;
    margin-left: 10px;
}

.tab-actions {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    padding-inline: 15px;
    margin-bottom: 5px;
}

.tab-actions svg {
    outline: white;

}

.tab-actions svg.add-tab {
    padding-right: 5px;
    border-right: grey solid 1px;
}

.tab-actions svg.down-tab {
    padding-left: 5px;
}

.window-actions {
    margin-left: auto;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.window-actions svg {
    width: 12px;;
}

div.terminal-content {
    width: 100%;
    height: 100%;
    border-radius: 0 0 7px 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.terminal-content pre {
    margin-inline: auto;
}

div.terminal-content p {
    padding-left: 20px;
}

.star {
    color: #ffee10;
    text-shadow: 0 0 5px #ffee10;
}

.tree {
    color: green;
}

.user {
    color: green
}

.path {
    color: blue;
}

.trunk {
    color: brown;
}

.garland {
    background-color: #18191f;
  color: yellow;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
  border-radius: 29px;
  animation: gardland-animation 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
}

.cursor {
    animation: cursor-animation 1s infinite;
}

.sphere.a {
    color: darkred;
}

.sphere.b {
    color: pink;
} 

.sphere.c {
    color: orange;
}


@keyframes gardland-animation {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}


@keyframes cursor-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}