:root {
    --border-clr: #dee2e6;
    --border-radius: 0.375rem;
    --red-clr: #b02a37;
    --green-clr: #157347;
    --blue-clr: #0b5ed7;
}


* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

div.content>h1 {
    border-bottom: 2px solid white;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-variant: small-caps;
}

div.content > form {
    width: 400px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: relative;
    height: 2.5rem;;
}

form input:disabled {
    cursor: not-allowed;
}

input[type="number"] {
    padding: .375rem .75rem;
    width: 10ch;
    border: 1px solid var(--border-clr);
    border-radius: var(--border-radius);
}

form input {
    position: absolute;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

input:nth-child(1) { left: 0; }
input:nth-child(2) { left: 135px; }
input:nth-child(3) { left: 270px; }

input.shuffling {
    transform: translateY(-20px) scale(1.05);
}

div.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

div.buttons>button {
    width: 4rem;
    height: 2.5rem;
    
    border-radius: var(--border-radius);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button#shuffle {
    border: 1px solid var(--blue-clr);
    background-color: var(--blue-clr);
}

button#validate {
    border: 1px solid var(--green-clr);
    background-color: var(--green-clr);
}

button#reset {
    border: 1px solid var(--red-clr);
    background-color: var(--red-clr);
}

.hidden {
    display: none;
}